<div class="container">
  <h1>Courses</h1>
  <% @courses.each do |course| %>
    <h2><%= course.title %></h2>
    <p><%= course.description %></p>
    <p><%= course.price %></p>
    <%= link_to "Lessons", course_lessons_path(course) %>
  <% end %>
</div>
